@charset "utf-8";

/* 1차 개인 PJ : 공통 모듈 CSS - common.css */
/* 공유기능 요소 셋팅 */

/************************** 1.상단영역 **************************/
.top-area {
  height: 100%;
}
/* 1-1. gnb 메뉴 */
.btn_t {
  font-size: 2.2rem;
}

/************************** 2.하단영역 **************************/
.footer-area {
  height: 320px;
}
