@charset "utf-8";

/* 1차 개인 PJ : 메인페이지 CSS - main.css */

/* 리셋, 코아, 커먼 공통 외부CSS 합치기 */
@import url(./reset.css);
@import url(./core.css);
@import url(./common.css);
@import url(./index.css);

/* 공사중 표시 */
body * {
  outline: 2px dashed #ccc;
}

/* 임시 높이 */
.main-area .inbox {
  height: 30vw;
}

.top-area {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  /* font-size: 2rem; */
  font-weight: 600;
  display: flex;
  align-items: center;
  padding: 0 1vw;
  box-sizing: border-box;
}
.top-area>div{
  flex: 1;
}
/* 중앙네비게이션 */
.nav_top_c{
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

.btn-copy .btn_t .real,
.btn-copy .btn_t .copy {
  white-space: nowrap;
}

.btn_t{
  height: 2rem;
  overflow: hidden;
  outline: 2px dotted red;
  color: rgb(241, 101, 138);
}
.btn_t span{
  display: block;
  transition: .4s ease-out;
  color: #000;
}
.btn_t:hover span{
  translate: 0 -100%;
  color: #fff;
}

.nav_top_c .btn_t span:after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 100%;
  height: 2px;
  background: rgb(241, 101, 138);
  transform-origin: left;
  transform: scaleX(0);
  transition: 0.45s transform
    cubic-bezier(0.55, 0, 0.1, 1);
}

.main-b {
  position: relative;
  height: 50%;
  width: 50%;
  object-fit: contain;
  overflow-clip-margin: content-box;
  overflow: clip;
}
/* 메인 배경 이미지 */
.img-bx img {
  top: 0;
  width: 100vw;
  height: 100vh;
  /* 오브젝트 핏 포지션 top변경 */
  object-fit: cover;
  object-position: top;
}

.character_act div{
  position: absolute;
  top: 50%;
  left: 50%;
}
.char_act1{
  translate: -372% 160%;
  animation: act1_ani 3s ease-out 2s forwards;
}
@keyframes act1_ani {
  to{
    translate: -234% 30%;
  }
}
.char_act2{
  translate: -48% 17%;
}
.char_act3{
  translate: -18% -49%;
}
.coffee{
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  display: none;
  pointer-events: none;
  translate: -50% -50%;
  transition: .3s ease-out;
}
